:root {
    --main-theme: rgb(69,39,146);
    --main-theme-hover: rgba(69,39,146, .7);
    --light-hr: rgba(255,255,255, .5);
	--main-rgb: 69,39,146;
	--light-main: #edd2f3;
	--staff-bg: 217, 101, 112;
    --purple: #ae4f9b;
    --stop-1: #4285f4;
    --stop-2: #9c73cc;
    --stop-3: #d96570;
    --surface: #1b1c1d;
  }
  
a {
    color: var(--stop-3);
    text-decoration: underline;
}
a.tel-top {
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    padding-top: .4rem;
    color: white;
    text-decoration: none;
}

.nav-container {
	margin: 1rem auto;
	a {
        border-radius: 1.5rem;
        color: var(--main-theme );
        padding: .5rem 1rem;
        margin: 0;
        font-size: 1.2rem;
		display: inline-block;
		text-decoration: none;	
		transition-property: background-color;
		transition-duration: .3s;
		font-weight: 300; 
		&:hover {
			color: white;
			background-color: var(--main-theme);
		}
	  }
	}

.sm-scr-margin {
	@media only screen and (max-width: 960px) {
		margin-top: 5rem !important;
	}
}

.btn {
    border-radius: 1.75rem;
}
a.sign-up {
    background-color: var(--main-theme);
    border: 1px solid var(--main-theme);
    padding: .4rem 3rem;
    font-size: 1.5rem;
    &:hover {
        background-color: var(--main-theme-hover);
        border: 1px solid var(--main-theme);
    }
}

.pull-rt     { float: right;}
.pull-lt     { float: left;}
// Header right column
.header-rt-col  { 
	text-align: right;
	padding: .5rem;
	@media only screen and (max-width: 991px) {
		text-align: center;
	}
 }
 .header-lft-col {
	@media only screen and (max-width: 991px) {
		text-align: center;
	}
 }
 .pad-md { 
	padding: 2rem 0;
	@media only screen and (max-width: 991px) {
		padding: 1rem;
	}
 }
// --------
.t-align-ct  { text-align: center; }
.t-align-lt  { text-align: left;}
.remove-pad  { padding: 0 !important; }

.pad-lg      { padding-top: 3rem; }
.ct-margin {
    margin-top: 3rem;
}
// --------------------------------
.teachers {
	margin: .5rem;
    margin-right: 0;
    float: right;
}
.color-ct {
	background-color: rgba(var(--main-rgb), .1);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
	h1 {
		margin-bottom: 0;
		margin-top: -.5rem;
	}
	&.staff {
		background-color: rgba(var(--staff-bg), .1);
	}
}

.home-img-ct {
	background-color: var(--light-main);
	padding: 1rem;
}

.address-ct {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	
}
h4 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--main-theme);
	background-color: rgba(var(--main-rgb), .1);
    border-radius: 6rem;
}
.price-ct {
    background-color: var(--main-theme);
	// background:	url(../images/pattern.svg) repeat,linear-gradient(40deg, var(--main-theme), var(--main-theme-hover));
    color: white;
}

section {
	border-bottom: 0;
	box-sizing: border-box;
    margin: 0 auto;
    width: 33rem;
	@media only screen and (max-width: 780px) {
		width: 100%;
	}
	article {

		.intro-head {
			font-size: 2rem;
			font-weight: bold;
			padding: .5rem 0;
			span {
				display: inline;
				line-height: 1.5;
				float: none;
				transition: color 3s ease;
			}
			p {
				line-height: .7;
				font-size: .8rem;
				font-weight: normal;
				font-style: italic;
			}
			.price {
				color: pink;
			}
		}

		div {
			border-bottom: 1px solid var(--light-hr);
			overflow: auto;
            font-size: 1.25rem;
			&:last-of-type {
				border-bottom: none;
			}
			span {
				display: block;
				padding: .5rem;
				float: left;
			&:first-of-type {
					width: 50%;
					text-align: right; 
				}
			&:last-of-type {
					width: 50%;
                    text-align: left;
				}
			}
		}
	}
}
.dark-bg {
    background-color: var(--main-theme);
}

.items {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
  }
p, ol {
	font-size: 1.15rem;
	font-weight: 200;
}
.class-section {
	border-radius: 1rem;
	color: white;
	padding: 2rem;
	width: calc(33.33% - 1rem);
	@media only screen and (max-width: 1199px) {
		width: calc(50% - 1rem);
	}
	@media only screen and (max-width: 769px) {
		width: 100%;
	}
	h5 {
		font-size: 1.5rem;
	}
	.icon-position {
		float: right;
		font-size: 1.5rem;
	}
	&.teacher { 
		width: 100% !important;
	 	margin-bottom: 1rem;
	 }
	&.hard {background-color: var(--purple);}
	&.medium {background-color: var(--stop-2);}
	&.easy {background-color: var(--stop-1);}
	&.light {background-color: var(--stop-3);}
}

.photos {
	 img {
		padding: .5rem;
	}
}

// ------ Sprite
.icon-ct {
    a {
        margin: .25rem
    }
}
.t-align-rt {
	text-align: right;
}
.gc-btn {
    margin-top: .35rem;
	border-width: 2px;
	background-color: rgba(white, .2);
}
.soc-icons {
	background-image: url('../images/social-media-icons.png'); 
	height: 30px;
	display: inline-block;
	width: 30px;
}
.ig { background-position: 0px 0px }
.x { background-position: -30px 0px }
.fb { background-position: -60px 0px }
.yh { background-position: -90px 0px }
.fs { background-position: -120px 0px }

.ig-w { background-position: 0px -30px }
.x-w { background-position: -30px -30px }
.fb-w { background-position: -60px -30px }
.yh-w { background-position: -90px -30px }
.fs-w { background-position: -120px -30px }

footer {
    margin-top: 2rem;
    padding-bottom: 4rem;
    background-color: var(--main-theme);
    color: white;
    line-height: 1.4em;
    width: 100%;
    h2 {
        width: 90%;
        border-top: 1px solid var(--light-hr) ;
    }
}

.splide {
    height: 30rem;
    width: 100%;
    margin: 0 auto;
}
// To address karmasoft schedule loader breaking out of container
.position-relative {
	position: relative;
}